{%- if section.settings.enabled -%}
  <section id="NewsletterPopup" data-section-id="{{ section.id }}" data-section-type="newsletter-popup"
           data-mfp-delay="{{ section.settings.delay | times: 1000 }}"
           data-mfp-effect="mfp-zoom-out"
           class="mfp-with-anim mfp-hide newsletter-popup"
           style="">
    <img src="{{ section.settings.background_image | img_url: 'master' }}" alt="" class="newsletter-popup__image">
    <h3 class="sr-only newsletter-popup__heading">{{ section.settings.heading | default: 'Newsletter Popup' }}</h3>
    {%- if section.settings.subheading != blank -%}
      <p class="newsletter-popup__subheading">{{ section.settings.subheading }}</p>
    {%- endif -%}
    <div id="NewsletterPopupMsg" class="msg" style="display:none;"></div>
    <form id="NewsletterPopupForm" action="{{ section.settings.form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-popup__form">
      <label for="NewsletterPopupEmail" class="sr-only">{{ 'general.newsletter_form.email' | t }}</label>
      <input id="NewsletterPopupEmail" type="email" name="EMAIL" value="{% if customer %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.placeholder' | t }}" class="newsletter-popup__email" autocorrect="off" autocapitalize="off" required>
      <button type="submit" class="newsletter-popup__submit" name="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
    </form>
  </section>
{%- endif -%}

{% stylesheet 'scss' %}
  .newsletter-popup {
    position: relative;
    width: 100%;
    max-width: 640px;
    // height: 300px;
    margin: 0 auto;
    padding: 0;
    background-color: #383838;
    @media (min-width:768px) {
      padding: 40px 60px;
    }
    .mfp-close {
      color: #4d4d4d;
      &:hover, &:focus {
        color: #999;
      }
    }
    .msg {
      text-align: center;
    }
    .msg--error {
      color: #e76062;
    }
    .msg--success {
      color: #8dd266;
    }
  }
  .newsletter-popup__image {
    display: block;
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
  }
  .newsletter-popup__heading {
    margin-bottom: 0;
    font-weight: 900;
  }
  .newsletter-popup__subheading {
    text-align: center;
    color: #b3b3b3;
  }
  .newsletter-popup__form {
    display: flex;
    margin: 0 auto;
    @media (min-width:768px) {
      max-width: 60%;
    }
  }
  .newsletter-popup__email {
    margin-bottom: 0 !important;
    border-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .newsletter-popup__submit {
    border-radius: 6px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    white-space: nowrap;
  }
  .mfp-zoom-out {
    .mfp-with-anim {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &.mfp-bg {
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &.mfp-ready {
      .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
      }
      &.mfp-bg {
        opacity: 0.8;
      }
    }
    &.mfp-removing {
      .mfp-with-anim {
        transform: scale(1.3);
        opacity: 0;
      }
      &.mfp-bg {
        opacity: 0;
      }
    }
  }
{% endstylesheet %}

<script>
  (function($, undefined){
    $(document).ready(function(){
      var popupSelector = '#NewsletterPopup';
      if (!Cookies.get('mcpu_shown')) {
        setTimeout(function(){
          $.magnificPopup.open({
            items: {
              src: popupSelector,
              type: 'inline'
            },
            midClick: true,
            removalDelay: 300,
            callbacks: {
              beforeOpen: function() {
                this.st.mainClass = $(popupSelector).data('mfpEffect');
              },
              afterClose: function() {
                Cookies.set('mcpu_shown', 1, {expires: 7});
              }
            }
          });
        }, $(popupSelector).data('mfpDelay'));
      }
    });

    // Submit form
    var $form = $('#NewsletterPopupForm');
    var $msg  = $('#NewsletterPopupMsg');

    $form.on('submit', function(event){
      event.preventDefault();
      $.get(
        $form.attr('action').replace('/post?', '/post-json?') + '&c=?',
        $form.serialize(),
        function(response){
          $msg.html(response.msg).find('a').attr('target', '_blank');
          if (response.result === 'success') {
            $msg.addClass('msg--success');
            $form.slideUp('fast');
          } else {
            $msg.addClass('msg--error');
          }

          $msg.slideDown('fast');
        },
        'json'
      );
    });
  })(jQuery);
</script>

{% schema %}
  {
    "name": "Newsletter popup",
    "settings": [
      {
        "type": "header",
        "content": "For the newsletter popup"
      },
      {
        "id": "enabled",
        "type": "checkbox",
        "label": "Show newsletter popup",
        "default": true
      },
      {
        "id": "form_action",
        "type": "text",
        "label": "MailChimp form action URL",
        "info": "[Find your MailChimp form action URL](https:\/\/docs.shopify.com\/manual\/configuration\/store-customization\/communicating-with-customers\/accounts-and-newsletters\/get-a-mailchimp-form-action-url)."
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading"
      },
      {
        "id": "delay",
        "type": "range",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "s",
        "label": "Delay showing popup",
        "default": 10
      },
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
